<%= render 'superadmin/share/menu' %>
<div class="container">
	<div class="row">
		Category Nav =>
		<%= link_to 'Back Store', superadmin_store_path(session[:sid]) %><br>
		Action =>
		<%= link_to '新增分類', new_superadmin_store_category_path %> | 
	</div>
</div>	
<hr>
